.site-header {
  border-top: 5px solid $backgroundStrong;
  border-bottom: 1px solid $grey-color-light;
  min-height: 56px;
  background-color: $backgroundStrong;
  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-header .wrapper{
  ;
}

img[alt="logo"] {
  max-width: 40%;
  height: auto;
}